<p id="notice"><%= notice %></p>

<h1>Listing Inventories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Value</th>
      <th>Used</th>
      <th>Stored</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inventories.each do |inventory| %>
      <tr>
        <td><%= best_in_place inventory, :name, as: :input %></td>
        <td><%= best_in_place inventory, :description, as: :textarea %></td>
        <td><%= best_in_place inventory, :value, as: :input %></td>
        <td><%= best_in_place inventory, :used, as: :checkbox, collection: ["No, thanks", "Yes, of course!"] %></td>
        <td><%= best_in_place inventory, :stored, as: :checkbox, collection: { false: "Nope", true: "Yep" } %></td>
        <td><%= best_in_place inventory, :location_id, as: :select, collection: Location.all.map { |l| [l.id, l.full ]} %></td>
        <td><%= link_to 'Show', inventory %></td>
        <td><%= link_to 'Edit', edit_inventory_path(inventory) %></td>
        <td><%= link_to 'Destroy', inventory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inventory', new_inventory_path %>
